body{
    background-image:url("background.jpg") ;
    background-size: cover;
    background-position: center;
}
.heading{
    width:100% ;
    margin: 0px;
    font-size: 25px;
}
#start,#number,#status{
font-size:20px;
}
#footer{
    bottom:0 ;
    width: 100%;
    position: fixed;
    background-color: rgb(255, 183, 14);
    text-align: center;
    font-size:17px;
line-height: 2;
}
canvas{
    border: 10px solid black;
    border-radius: 360px;
    box-shadow: 10px 10px 20px orange;
}